.container {
  font-size: 14px;
  flex: none;
  padding: 9px 8px 9px;
  display: table-cell;
  /* border-top: 1px solid var(--background);
  border-left: 1px solid var(--background); */
  font-weight: 500;
}
